*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(rgb(119, 195, 176), rgb(8, 255, 181));
  background-attachment: fixed;
}

.custom-margin {
  margin-left: 5%;
}

.table-container {
  padding: 1% 1% 1% 1%;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
}

#return {
  padding: 1em;
}

#return:hover {
  background-color: rgb(194, 194, 194);
}

.animated {
  padding-bottom: 5px;
  font-size: 60px;
  font-weight: 900;
  text-decoration: none;
  background: linear-gradient(
    to right,
    rgb(163, 163, 163) 50%,
    #ff5858 50%,
    #cc2e5d
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s ease-out;
}

.animated:hover {
  background-position: -100%;
}
