@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&family=Source+Sans+Pro:wght@200&display=swap");

* {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

body {
  font-family: "Roboto Slab", serif;
  text-align: center;
}

hr {
  width: 30%;
}

/* treba ubacit timer umjesto errora */
#errors {
  color: #cc5e1e;
}

#board {
  width: 450px;
  height: 450px;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  width: 50px;
  height: 50px;
  border: 1px solid #d1d1d1;

  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

#digits {
  width: 450px;
  height: 50px;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.number {
  width: 46px;
  height: 46px;
  border: 1px solid black;
  margin: 2px;

  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-number {
  background-color: #c9c9c9;
}

.tile-start {
  background-color: whitesmoke;
}

.horizontal-border {
  border-bottom: 2px solid black;
}

.vertical-border {
  border-right: 2px solid black;
}

.highlighted-tile {
  background-color: #63fffc;
}
