@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&family=Source+Sans+Pro:wght@200&display=swap");

body {
  font-family: "Roboto Slab", serif;
  text-align: center;
}

hr {
  width: 30%;
}

/* treba ubacit timer umjesto errora */
#errors {
  color: #cc5e1e;
}

#board {
  width: 450px;
  height: 450px;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  background-color: yellow;
}

.tile,
.number {
  width: 48px;
  height: 48px;
  border: 1px solid #a1a1a1;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

#digits {
  width: 450px;
  height: 50px;

  background-color: yellow;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.number {
  border-color: black;
}
